@media(max-width: 767px){
    main{
        padding: 3vh 0;
        gap: 1rem;
    }

    .heading{
        font-size: 26px;
        text-align: center;
    }
    
    .para{
        padding: 0 5rem;
        text-align: center;
        line-height: 25px;
    }
    
    /* main div */
    
    .main-div{
        padding: 40px 25px;
        width: 90%;
    }
    
    .views-price{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--GrayishBlue);
    }
    
    .views{
        font-size: 12px;
    }
    
    .price-in-month{
        font-size: 12px;
    }
    
    .price{
        font-size: 25px;
        line-height: 35px;
    }

    /* billing */
    .billing{
        margin-top: 1vh;
        gap: 7px;
        padding-right: 0;
    }
      
    /* line */
    
    .line{
        margin-top: 2vh;
    }
    
    /* list and btn */
    
    .offers{
      flex-direction: column;
      gap: 15px;
    }
    
    .list ul li{
      text-align: center;
    }
    
}